.container{
    background-color: #E5E5E5;
    
}
 .main-container{
    background-color: #00285F;
    width: 280px;
    height: 365px;
    margin: 20px 10px;
    border-radius: 10px;

    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
 }

 .main-container h2{
    color: #fff;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
 }

 .main-container p{
    color: #fff;
    font-size: 14px;
    text-align: center;
 }

 .main-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 49px;
 }

 .main-footer a{
    background-color: #00285F;
    width: 174px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
 }

 .main-footer p{
    margin-top: 10px;
    color:  #585858;
    font-size: 18px;
    font-weight: 400;
 }

 
