.main-nav{
    background-color: #F78B00;
    font-family: 'Roboto', sans-serif;
}

.logo h1{
    color: #00285F;
    font-weight: 700;
}

.logo a{
    text-decoration: none;
    color: #00285F;
    font-weight: 700;
}

.nav-list{
    list-style: none;
}

@media (min-width: 576px){
    .main-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}