.main-nav{
    background-color: #F78B00;
    font-family: 'Roboto', sans-serif;
}

.logo h1{
    color: #00285F;
    font-weight: 700;
    
}

.logo a{
    text-decoration: none;
    color: #00285F;
    font-weight: 700;
}

.nav-list{
    list-style: none;
}



@media(min-width: 768px){

  

    .logo{
       
        display: flex;
        justify-content: space-between;
    }

    .logo-h1{
        background-color: #F78B00;
        display: flex;
        width: 200px;
        height: 40px;
        
    }

    .nav-list{
        display: flex;
        flex-direction: row;
        margin-left: 360px;
        
    }

    .nav-list li{
        margin: 10px;
        
    }
}

@media(min-width: 992px){
    .logo h1{
        font-size: 24px;

    }
    .nav-list{
        display: flex;
        flex-direction: row;
        margin-left: 500px;   
    }

    .nav-list li{
        font-size: 20px;
    }
}

@media (min-width: 1200px){
   .logo-h1{
    margin-left: 30px;
   }
   
    .nav-list{
        display: flex;
        flex-direction: row;
        margin-left: 680px;   
    }
}