
.card-container{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
}

.card-tittle h1{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: black;
}

.card-tittle p {
    font-size: 14px;
    color: #585858;
    text-align: center;
}

.car img{
    width: 220px;
    height: 165px;
    margin-top: 14px;
}

.card-purchase{
    width: 257px;
    height: 40px;
    background-color: #00285F;
    border-radius: 10px;
    text-align: center;
    margin-top: 38px;
    margin-bottom: 15px;
    padding:  7px;
}

.card-purchase a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    
}

